<!doctype html>
<html class="no-js" lang="en">


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban.html -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>个人后台网站管理</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/css/style.css">


</head>

<body>

<div id="preloader" class="d-none">
    <div class="loader d-none">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
</div>


<!-- header -->
<div class="header" style="margin-bottom: 10px">

    <div class="nav-header">
        <div class="brand-logo">
            <a href="index.html">
                <!-- <i class="icofont icofont-dart"></i> -->
                <img src="__STATIC__/assets/images/logo-mini.png" alt="">
                <span class="brand-title">Paito</span>
            </a>
        </div>
    </div>
    <div class="header-content">
        <div class="header-left d-flex">
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>

            </div>
            <div class="nav-search-box">
                <i class="fa fa-search"></i>
                <input type="search" placeholder="Search">
            </div>
        </div>
    </div>


    <div class="navbar-custom-menu pull-right d-flex nav-right">
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-danger">
                        <span></span>
                    </span>
                <i class="fa fa-envelope"></i>
            </a>

            <div class="dropdown-menu inbox-dropdown  dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <div class="message-options">
                    <a href="#" class="single-message">Message</a>
                    <a href="#" class="view-all-message pull-right">View All</a>
                    <a href="#" class="compose-message pull-right">Compose</a>
                </div>
                <a class="dropdown-item" href="#">
                    <div class="media">
                        <img class="mr-3" src="__STATIC__/assets/images/user.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h6 class="mt-0">
                                John Doe
                                <span class="time">March 21, 2018</span>
                            </h6>
                            It is a long established fact that a reader...
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="media">
                        <img class="mr-3" src="__STATIC__/assets/images/user.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h6 class="mt-0">
                                John Doe
                                <span class="time">March 21, 2018</span>
                            </h6>
                            It is a long established fact that a reader...
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="media">
                        <img class="mr-3" src="__STATIC__/assets/images/user.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h6 class="mt-0">
                                John Doe
                                <span class="time">March 21, 2018</span>
                            </h6>
                            It is a long established fact that a reader...
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="media">
                        <img class="mr-3" src="__STATIC__/assets/images/user.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h6 class="mt-0">
                                John Doe
                                <span class="time">March 21, 2018</span>
                            </h6>
                            It is a long established fact that a reader...
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="media">
                        <img class="mr-3" src="__STATIC__/assets/images/user.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h6 class="mt-0">
                                John Doe
                                <span class="time">March 21, 2018</span>
                            </h6>
                            It is a long established fact that a reader...
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge badge-danger">
                        <span></span>
                    </span>
                <i class="fa fa-bell"></i>
            </a>

            <div class="dropdown-menu notification-dropdown dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <li class="header">You have 10 notifications</li>
                <li>
                    <ul class="menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-users text-red"></i> 5 new members joined
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user text-red"></i> You changed your username
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <a href="#">View all</a>
                </li>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropdown-toggle user-profile-dropdown" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="user-img">
                        <img src="__STATIC__/assets/images/user.png" alt="">
                    </span>
                <span class="user-name">John Doe</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-cog"></i> Setting
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-question-circle" aria-hidden="true"></i> Help
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-power-off" aria-hidden="true"></i> Logout
                </a>
            </div>
        </div>

    </div>

</div>
<!-- #/ header -->


<!-- sidebar -->
<div class="nk-sidebar">

    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="menu-heading">
                <span class="nav-text">Main</span>
            </li>
            <li>
                <a href="index.html" aria-expanded="true">
                    <i class="fa fa-dashboard"></i>
                    <span class="nav-text">首页面板</span>
                </a>
            </li>
            <li>
                <a href="trading.html" aria-expanded="false">
                    <i class="fa fa-line-chart"></i>
                    <span class="nav-text">Trading</span>
                </a>
            </li>

            <li>
                <a href="marketcap.html" aria-expanded="false">
                    <i class="fa fa-bolt"></i>
                    <span class="nav-text">Marketcap</span>
                </a>
            </li>
            <li>
                <a href="ico.html" aria-expanded="false">
                    <i class="fa fa-btc"></i>
                    <span class="nav-text">ICO</span>
                </a>
            </li>
            <li>
                <a href="buy-sell.html" aria-expanded="false">
                    <i class="fa fa-usd"></i>
                    <span class="nav-text">Buy and Sell Crypto</span>
                </a>
            </li>
            <li>
                <a href="walet.html" aria-expanded="false">
                    <i class="fa fa-credit-card"></i>
                    <span class="nav-text">My Wallet</span>
                </a>
            </li>
            <li>
                <a href="currency-exchange.html" aria-expanded="false">
                    <i class="fa fa-refresh"></i>
                    <span class="nav-text">Currency Exchange</span>
                </a>
            </li>
            <li class="menu-heading">
                <span class="nav-text">Extra Main Page</span>
            </li>
            <li>
                <a class="has-arrow" href="#" aria-expanded="false">
                    <i class="fa fa-folder-open"></i>
                    <span class="nav-text">UI Elements</span>
                </a>
                <ul aria-expanded="false">
                    <li>
                        <a href="grid.html">Grids</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="tables.html">Tables</a>
                    </li>
                    <li>
                        <a href="tabs.html">Tabs</a>
                    </li>
                    <li>
                        <a href="forms.html">Forms</a>
                    </li>
                    <li>
                        <a href="tabs.html">Tabs</a>
                    </li>
                    <li>
                        <a href="charts.html">Charts</a>
                    </li>
                    <li>
                        <a href="pagination.html">Pagination</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="register.html" aria-expanded="false">
                    <i class="fa fa-key"></i>
                    <span class="nav-text">Register</span>
                </a>
            </li>
            <li>
                <a href="login.html" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    <span class="nav-text">Login</span>
                </a>
            </li>
            <li>
                <a href="recover-password.html" aria-expanded="false">
                    <i class="fa fa-lock"></i>
                    <span class="nav-text">Recover Password</span>
                </a>
            </li>
            <li>
                <a href="reset-password.html" aria-expanded="false">
                    <i class="fa fa-lock"></i>
                    <span class="nav-text">Reset Password</span>
                </a>
            </li>
            <li>
                <a href="error.html" aria-expanded="false">
                    <i class="fa fa-exclamation-circle"></i>
                    <span class="nav-text">Error</span>
                </a>
            </li>
            <li>
                <a href="faq.html" aria-expanded="false">
                    <i class="fa fa-question-circle"></i>
                    <span class="nav-text">FAQ</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #/ nk nav scroll -->
</div>
<!-- #/ sidebar -->
<div class="content-body">
    {block name="content"}{/block}
</div>



<!-- Modernizr-3 -->
<!-- jQuery -->
<script src="__STATIC__/assets/plugins/common/common.min.js"></script>
<!-- custom scripts -->
<script src="__STATIC__/js/scripts.js"></script>

<script src="__STATIC__/assets/plugins/chartjs/Chart.bundle.js"></script>
<script src="__STATIC__/js/dashboard.js"></script>


</body>


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban.html -->
</html>